<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>最美一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
</head>
<body ng-app="Yike">
	<div class="viewport">
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:collapsed}">
			<dl>
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<dd class="active">
					<a href="#/home" class="icon-home" ng-click="toggleNav()">
						<span>最美一刻</span>
					</a>
				</dd>
				<dd>
					<a href="#/older" class="icon-file-empty" ng-click="toggleNav()">
						<span>往期内容</span>
					</a>
				</dd>
				<dd>
					<a href="#/author" class="icon-pencil" ng-click="toggleNav()">
						<span>热门作者</span>
					</a>
				</dd>
				<dd>
					<a href="#/list" class="icon-menu" ng-click="toggleNav()">
						<span>栏目浏览</span>
					</a>
				</dd>
				<dd>
					<a href="#/favourite" class="icon-heart" ng-click="toggleNav()">
						<span>我的喜欢</span>
					</a>
				</dd>
				<dd>
					<a href="#/settings" class="icon-cog" ng-click="toggleNav()">
						<span>设置</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:collapsed}">
				<a href="javascript:;" class="menu icon-menu" ng-click="toggleNav()"></a>
				<h2>最美一刻</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:collapsed}">
 				<div ng-view></div>
			</div>
		</div>
	</div>
 
	<script src="./node_modules/angular/angular.js"></script>
	<script src="./node_modules/angular-route/angular-route.js"></script>
	<script src="./scripts/app.js"></script>
	<script src="./scripts/controller.js"></script>
</body>
</html>