				<div class="item">
					<!-- 日期分类 -->
					<div class="mark">13Aug</div>
					<ul class="posts large">
						<!-- 文章 -->
						<li ng-repeat="cart in info">
							<span href="javascript:;" class="tag" ng-if="cart.column.name">{{cart.column.name}}</span>
							<div class="cont">
								<h3>{{cart.title}}</h3>

							<!-- 只有文字 -->
								<div class="brief" ng-if="cart.display_style == 10001">
									<p class="only">{{cart.abstract}}</p>
								</div>

							<!-- 图文结合 -->
								<div class="brief" ng-if="cart.display_style == 10002">
									<p>{{cart.abstract}}</p>
									<div class="thumb">
										<img ng-src="{{cart.thumbs[0].small.url}}" alt="">
									</div>
								</div>

							<!-- 只有图片 -->
								<div class="brief" ng-if="cart.display_style == 10003">
									
									<div class="gallery">
										<img ng-src="{{cart.thumbs[0].small.url}}" alt="">
									</div>
								</div>			

							</div>
						</li>	 
					</ul>
				</div>