
	<div class="item">
		<!-- 日期分类 -->
		<div class="mark">13Aug</div>
		<ul class="posts">
			<!-- 文章 -->
			<li ng-repeat="cart in info">
				<span href="javascript:;" class="tag" ng-if="cart.column.name">{{cart.column.name}}</span>
				<div class="cont">
					<h3>{{cart.title}}</h3>

					<!-- 只有文字10001 -->
					<div class="brief" ng-if="cart.display_style == 10001">
						<p class="only">{{cart.abstract}}</p>
					</div>		

					<!-- 图文结合10002 -->
					<div class="brief" ng-if="cart.display_style == 10002">
						<p>{{cart.abstract}}</p>
						<div class="thumb">
							<img ng-src="{{cart.thumbs[0].small.url}}" alt="">
						</div>
					</div>		

					<!-- 只有图片10003只有三个图片small -->
					<div class="brief" ng-if="cart.display_style == 10003">
						<div class="gallery">
							<div class="img-box">
								<img ng-src="{{cart.thumbs[0].small.url}}" alt="">
							</div>
							<div class="img-box">
								<img ng-src="{{cart.thumbs[1].small.url}}" alt="">
							</div>
							<div class="img-box">
								<img ng-src="{{cart.thumbs[2].small.url}}" alt="">
							</div>
						</div>
					</div>	
				</div>
			</li>
		</ul>
	</div>
